<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Teste PushAlert no Flask</title>

    <script type="text/javascript">
      (function(d, t) {
        var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
        g.src = "https://cdn.pushalert.co/integrate_d74304ecc6dfa7e2207004c363fb01c9.js";
        s.parentNode.insertBefore(g, s);
      }(document, "script"));
    </script>
    </head>
<body style="font-family: sans-serif; text-align: center; margin-top: 50px;">
    <h1>Teste de Notificação Push</h1>
    <p>Esta página está sendo servida pelo Flask.</p>
    <p>Se a integração do PushAlert funcionar, você verá um pop-up pedindo permissão para notificações.</p>
</body>
</html>